@keyframes a {
  0% {
    box-shadow: 0 0 0 0 rgba(22, 172, 207, 0.4);
  }
  70% {
    box-shadow: 0 0 0 24px rgba(22, 172, 207, 0);
  }
  to {
    box-shadow: 0 0 0 0 rgba(22, 172, 207, 0);
  }
}
@keyframes b {
  0% {
    color: #f0ad4e;
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 rgba(240, 173, 78, 0.4);
  }
  70% {
    box-shadow: 0 0 0 24px rgba(240, 173, 78, 0);
  }
  to {
    color: #f0ad4e;
    transform: rotate(-359deg);
    box-shadow: 0 0 0 0 rgba(240, 173, 78, 0);
  }
}
@-webkit-keyframes b {
  0% {
    color: #f0ad4e;
    -webkit-transform: rotate(0deg);
    -webkit-box-shadow: 0 0 0 0 rgba(240, 173, 78, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 24px rgba(240, 173, 78, 0);
  }
  to {
    color: #f0ad4e;
    -webkit-transform: rotate(-359deg);
    -webkit-box-shadow: 0 0 0 0 rgba(240, 173, 78, 0);
  }
}
@-webkit-keyframes c {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  to {
    bottom: 10px;
  }
}
@keyframes c {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  to {
    bottom: 10px;
  }
}
@-webkit-keyframes d {
  0%,
  80%,
  to {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes d {
  0%,
  80%,
  to {
    opacity: 0.1;
  }
  40% {
    opacity: 0.9;
  }
}
@keyframes e {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.float-left {
  float: left !important;
}
.text-right {
  text-align: right !important;
}
@font-face {
  font-family: 'icomoon';
  src: url(/image/icomoon.ttf);
  src: url(/image/icomoon.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
.process-indicator__indicator-section___Z-6r8 {
  height: 26px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 8px;
}
.process-indicator__indicator-section___Z-6r8 .process-indicator__indicator-wrap___3PSK7 {
  width: 100%;
  position: relative;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
.checkout__col-lg-8___QjgUh {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}
.process-indicator__step___2m61M {
  width: calc(48%);
  height: 100%;
  line-height: 26px;
  position: relative;
  background: #f0f0f0;
  text-align: center;
  font-size: 12px;
  display: inline-block;
}
.process-indicator__step___2m61M .process-indicator__icon___G4w8B {
  font-size: 10px;
}
.process-indicator__step___2m61M:before {
  right: -13px;
  border-left: 13px solid #f0f0f0;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}
.process-indicator__step___2m61M:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  left: 0;
  border-left: 13px solid #fff;
}
.process-indicator__step___2m61M:first-child {
  margin-right: 3px;
  z-index: 1;
}
.process-indicator__step___2m61M:first-child:after {
  display: none;
}
.process-indicator__step___2m61M:first-child.process-indicator__completed___2UpYW:before {
  border-left-color: rgba(85, 97, 101, 0.7);
}
.process-indicator__step___2m61M:last-child {
  margin-right: 0;
}
.process-indicator__step___2m61M:last-child:before {
  display: none;
}
.process-indicator__step___2m61M:last-child.process-indicator__completed___2UpYW:after {
  border-left-color: #fff;
}
.process-indicator__step___2m61M.process-indicator__completed___2UpYW {
  background: rgba(85, 97, 101, 0.7);
  color: #fff;
}
.checkout__checkout-container___3rjtq {
  display: block;
  padding-top: 24px;
  font-size: 14.5px;
}
.row__row___2roCA {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.checkout__col-lg-4___2Mwer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}
.payment__proceed-checkout___1USNR {
  margin-bottom: 0;
}
.payment__card___zPs9X {
  border: 1px solid rgba(78, 89, 93, 0.15);
  border-radius: 0;
  margin-bottom: 15px;
}
.cod__heading___uvWgz {
  font-weight: 500;
}
.cod__option___p-oIl {
  padding: 15px;
  border: 1px solid transparent;
}
.cod__custom-control___1CJuh {
  position: relative;
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  margin-bottom: 0;
}
.cod__custom-controls-stacked___20Svd {
  display: flex;
  flex-direction: column;
}
.cod__custom-controls-stacked___20Svd .cod__custom-control___1CJuh {
  margin-bottom: 0.25rem;
}
.cod__custom-control___1CJuh.cod__custom-controls-stacked___20Svd + .cod__custom-control___1CJuh {
  margin-left: 0;
}
.cod__custom-control-indicator___2d8Dw {
  box-shadow: inset 0 0 0 1px rgba(78, 89, 93, 0.15);
  top: 0.16rem !important;
  background-size: 65% 65% !important;
  position: absolute;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
}
.text-center {
  text-align: center !important;
}
.credit-card-form__col-lg-6___3YEEz {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}
.cod__custom-control-input___33oKm {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 1;
}
.cod__custom-control-input___33oKm:checked.cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  color: #16accf;
  background-color: #fff;
}
.cod__custom-control-input___33oKm:focus.cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  box-shadow: inset 0 0 0 1px rgba(78, 89, 93, 0.15);
}
.cod__custom-control-input___33oKm:active.cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  color: #16accf;
  background-color: #fff;
}
.cod__custom-control-input___33oKm:disabled.cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  cursor: not-allowed;
  background-color: #fff;
}
.cod__custom-control-input___33oKm:disabled.cod__custom-control-input___33oKm ~ .cod__custom-control-description___3U8oe {
  color: rgba(78, 89, 93, 0.3);
  cursor: not-allowed;
}
.cc__option___2-tQJ {
  padding: 15px;
  border: 1px solid transparent;
}
.cc__option___2-tQJ.cc__active___3oRtv {
  box-shadow: inset 0 0 0 1px #16accf;
  background-color: #fafdfe;
  margin-left: -2px;
  width: calc(104%);
}
.credit-card-form__form-group___BZuCA {
  margin-bottom: 1rem;
}
.credit-card-form__form-group___BZuCA .credit-card-form__alert___diDGc {
  padding: 6px 12px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 14.5px;
}
.credit-card-form__form-group___BZuCA .credit-card-form__alert-danger___2YCPC {
  color: #dc2434;
  background-color: #f8d4d7;
  border-color: #f1a8ae;
}
.credit-card-form__form-group___BZuCA .credit-card-form__alert-info___2jDKg {
  background-color: #f0f4f7;
  color: #3f5865;
}
.cc__custom-control___2TOMa {
  position: relative;
  display: inline-flex;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  margin-bottom: 0;
}
.cc__custom-controls-stacked___C-a-C {
  display: flex;
  flex-direction: column;
}
.cc__custom-controls-stacked___C-a-C .cc__custom-control___2TOMa {
  margin-bottom: 0.25rem;
}
.cc__custom-control___2TOMa.cc__custom-controls-stacked___C-a-C + .cc__custom-control___2TOMa {
  margin-left: 0;
}
.cc__custom-control-indicator___1fCjJ {
  box-shadow: inset 0 0 0 1px rgba(78, 89, 93, 0.15);
  top: 0.16rem !important;
  background-size: 65% 65% !important;
  position: absolute;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
}
.text-danger {
  color: #dc2434 !important;
}
a.text-danger:focus {
  color: #b11c29 !important;
}
a.text-danger:hover {
  color: #b11c29 !important;
}
input.credit-card-form__form-control___2zxui::-moz-placeholder {
  color: rgba(78, 89, 93, 0.3);
  opacity: 1;
}
input.credit-card-form__form-control___2zxui:-ms-input-placeholder {
  color: rgba(78, 89, 93, 0.3);
  opacity: 1;
}
input.credit-card-form__form-control___2zxui::-webkit-input-placeholder {
  color: rgba(78, 89, 93, 0.3);
  opacity: 1;
}
.credit-card-form__form-control___2zxui {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 1.313;
  color: #4e595d;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(78, 89, 93, 0.15);
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}
.credit-card-form__form-control___2zxui::-ms-expand {
  background-color: transparent;
  border: 0;
}
.credit-card-form__form-control___2zxui:focus {
  color: #4e595d;
  background-color: #fff;
  border-color: #16accf;
  outline: none;
}
.credit-card-form__form-control___2zxui::placeholder {
  color: rgba(78, 89, 93, 0.06);
  opacity: 1;
}
.credit-card-form__form-control___2zxui:disabled {
  background-color: #fff;
  opacity: 1;
  cursor: not-allowed;
}
.checkout-btn__policy___1EXJa {
  color: #595959;
  padding-top: 32px;
  font-size: 12px;
}
.checkout-btn__policy___1EXJa a {
  color: #1186a1;
}
.credit-card-form__form-control___2zxui[readonly] {
  background-color: #fff;
  opacity: 1;
}
select.credit-card-form__form-control___2zxui:not([size]):not([multiple]) {
  height: calc(4.688rem);
}
select.credit-card-form__form-control___2zxui:focus::-ms-value {
  color: #4e595d;
  background-color: #fff;
}
.cod__shipping-fee___LXdRJ {
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14.5px;
  margin-top: 2px;
}
.credit-card-form__col-6___3m3FL {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
  flex: 0 0 50%;
  max-width: 50%;
}
.credit-card-form__error-text___Wia_D {
  display: none;
}
.credit-card-form__invalid-field___OH_4V {
  color: #dc2434;
}
.credit-card-form__invalid-field___OH_4V + .credit-card-form__error-text___Wia_D {
  display: block;
}
.credit-card-form__real-card-wrap___2oQR6 {
  margin-top: 30px;
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front .jp-card-logo.jp-card-amex {
  opacity: 1;
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front:after {
  opacity: 1;
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front:before {
  background-color: #108168;
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-front .jp-card-cvc {
  visibility: visible;
}
.jp-card.jp-card-amex.jp-card-identified .jp-card-back:before {
  background-color: #108168;
}
.jp-card.jp-card-dankort.jp-card-identified .jp-card-logo.jp-card-dankort {
  opacity: 1;
}
.jp-card.jp-card-dankort.jp-card-identified .jp-card-back:before {
  background-color: #0055c7;
}
.jp-card.jp-card-dankort.jp-card-identified .jp-card-front:before {
  background-color: #0055c7;
}
.jp-card.jp-card-discover.jp-card-identified .jp-card-logo.jp-card-discover {
  opacity: 1;
}
.jp-card.jp-card-discover.jp-card-identified .jp-card-back:before {
  background-color: #86b8cf;
}
.jp-card.jp-card-discover.jp-card-identified .jp-card-front:before {
  background-color: #86b8cf;
}
.jp-card.jp-card-discover.jp-card-identified .jp-card-front:after {
  transition: 0.4s;
  content: ' ';
  display: block;
  background-color: #f60;
  background-image: linear-gradient(#f60, #ffa366, #f60);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  position: absolute;
  left: 100%;
  top: 15%;
  margin-left: -25px;
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
.jp-card.jp-card-maestro.jp-card-identified .jp-card-logo.jp-card-maestro {
  opacity: 1;
}
.jp-card.jp-card-maestro.jp-card-identified .jp-card-back .jp-card-logo.jp-card-maestro {
  box-shadow: none;
}
.jp-card.jp-card-maestro.jp-card-identified .jp-card-back:before {
  background-color: #0b2c5f;
}
.jp-card.jp-card-maestro.jp-card-identified .jp-card-front .jp-card-logo.jp-card-maestro {
  box-shadow: none;
}
.jp-card.jp-card-maestro.jp-card-identified .jp-card-front:before {
  background-color: #0b2c5f;
}
.jp-card.jp-card-mastercard.jp-card-identified .jp-card-logo.jp-card-mastercard {
  opacity: 1;
}
.jp-card.jp-card-mastercard.jp-card-identified .jp-card-back .jp-card-logo.jp-card-mastercard {
  box-shadow: none;
}
.jp-card.jp-card-mastercard.jp-card-identified .jp-card-back:before {
  background-color: #0061a8;
}
.jp-card.jp-card-mastercard.jp-card-identified .jp-card-front .jp-card-logo.jp-card-mastercard {
  box-shadow: none;
}
.jp-card.jp-card-mastercard.jp-card-identified .jp-card-front:before {
  background-color: #0061a8;
}
.jp-card.jp-card-visa.jp-card-identified .jp-card-logo.jp-card-visa {
  opacity: 1;
}
.jp-card.jp-card-visa.jp-card-identified .jp-card-back:before {
  background-color: #191278;
}
.jp-card.jp-card-visa.jp-card-identified .jp-card-front:before {
  background-color: #191278;
}
.jp-card.jp-card-safari.jp-card-identified .jp-card-back:before {
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}
.jp-card.jp-card-safari.jp-card-identified .jp-card-front:before {
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}
.jp-card.jp-card-ie-10.jp-card-flipped {
  -webkit-transform: 0deg;
  transform: 0deg;
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back:after {
  left: 18%;
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-cvc {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 5%;
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-shiny {
  left: 84%;
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-back .jp-card-shiny:after {
  left: -480%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.jp-card.jp-card-ie-10.jp-card-flipped .jp-card-front {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.jp-card.jp-card-ie-11.jp-card-flipped {
  -webkit-transform: 0deg;
  transform: 0deg;
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back:after {
  left: 18%;
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-cvc {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: 5%;
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-shiny {
  left: 84%;
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-back .jp-card-shiny:after {
  left: -480%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.jp-card.jp-card-ie-11.jp-card-flipped .jp-card-front {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
.jp-card.jp-card-ie-10.jp-card-amex .jp-card-back {
  display: none;
}
.jp-card.jp-card-ie-11.jp-card-amex .jp-card-back {
  display: none;
}
.jp-card-logo {
  height: 36px;
  width: 60px;
  font-style: italic;
  box-sizing: border-box;
}
.jp-card-logo:after {
  box-sizing: border-box;
}
.jp-card-logo:before {
  box-sizing: border-box;
}
.jp-card-logo.jp-card-amex {
  text-transform: uppercase;
  font-size: 4px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #eee;
}
.jp-card-logo.jp-card-amex:after {
  width: 28px;
  display: block;
  position: absolute;
  left: 16px;
  content: 'express';
  bottom: 11px;
  text-align: right;
  padding-right: 2px;
}
.jp-card-logo.jp-card-amex:before {
  width: 28px;
  display: block;
  position: absolute;
  left: 16px;
  height: 28px;
  content: 'american';
  top: 3px;
  text-align: left;
  padding-left: 2px;
  padding-top: 11px;
  background: #267ac3;
}
.jp-card-logo.jp-card-discover {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background: #f60;
  color: #111;
  font-style: normal;
  font-size: 10px;
  overflow: hidden;
  z-index: 1;
  padding-top: 9px;
  letter-spacing: 0.03em;
  border: 1px solid #eee;
}
.jp-card-logo.jp-card-discover:after {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  top: 10px;
  left: 27px;
  background-color: #fff;
  background-image: radial-gradient(#fff, #f60);
  content: 'network';
  font-size: 4px;
  line-height: 24px;
  text-indent: -7px;
}
.jp-card-logo.jp-card-discover:before {
  content: ' ';
  display: block;
  position: absolute;
  background: #fff;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  bottom: -5%;
  right: -80%;
  z-index: -1;
}
.checkout-btn__checkout___2DoYD {
  opacity: 1;
  visibility: visible;
}
.checkout-btn__checkout___2DoYD .checkout-btn__actions___3qxu8 {
  margin: 20px auto 5px;
}
.checkout-btn__checkout___2DoYD .checkout-btn__actions___3qxu8 .checkout-btn__btn-primary___1RlmT {
  width: 60%;
}
.checkout-btn__checkout___2DoYD .checkout-btn__actions___3qxu8 .checkout-btn__btn-primary___1RlmT .checkout-btn__icon___3Vplk {
  margin-right: 8px;
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  color: #fff;
  background-color: #1186a1;
  background-image: none;
  border-color: #107e98;
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H:focus {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H:hover {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H.checkout-btn__focus___2ALVZ {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__focus___2ALVZ {
  background-color: #45bdd9;
  border-color: #45bdd9;
  box-shadow: 0 0 0 2px rgba(22, 172, 207, 0.5);
}
.checkout-btn__btn-primary___1RlmT.checkout-btn__focus___2ALVZ:active {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT {
  color: #fff;
  background-color: #16accf;
  border-color: #16accf;
}
.checkout-btn__btn-primary___1RlmT:active {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  color: #fff;
  background-color: #1186a1;
  background-image: none;
  border-color: #107e98;
}
.checkout-btn__btn-primary___1RlmT:active:focus {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT:active:hover {
  box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.17);
}
.checkout-btn__btn-primary___1RlmT:focus {
  background-color: #45bdd9;
  border-color: #45bdd9;
  box-shadow: 0 0 0 2px rgba(22, 172, 207, 0.5);
}
.checkout-btn__btn-primary___1RlmT:hover {
  color: #fff;
  background-color: #1186a1;
  border-color: #107e98;
}
.checkout-btn__btn-primary___1RlmT:disabled {
  background-color: #16accf;
  border-color: #16accf;
}
.checkout-btn__checkout___2DoYD.checkout-btn__hide___20YA0 {
  display: none;
  opacity: 0;
}
.jp-card-logo.jp-card-visa {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  color: #1a1876;
  font-size: 16px;
  line-height: 18px;
}
.jp-card-logo.jp-card-visa:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 25%;
  background: #e79800;
}
.jp-card-logo.jp-card-visa:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 25%;
  background: #1a1876;
}
.jp-card.jp-card-amex.jp-card-flipped {
  -webkit-transform: none;
  transform: none;
}
.jp-card {
  font-family: Helvetica Neue;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.4s linear;
  min-width: auto !important;
}
.jp-card .jp-card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.4s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  background: #ddd;
  z-index: 2;
}
.jp-card .jp-card-front .jp-card-logo.jp-card-discover {
  right: 12%;
  top: 18%;
}
.jp-card .jp-card-front:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.jp-card .jp-card-front:after {
  content: ' ';
  display: block;
}
.jp-card .jp-card-front .jp-card-display {
  color: #fff;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.4s linear;
}
.jp-card .jp-card-front .jp-card-display.jp-card-focused {
  opacity: 1;
  font-weight: 500;
}
.jp-card .jp-card-front .jp-card-cvc {
  font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
  font-size: 15px;
}
.jp-card .jp-card-front .jp-card-shiny {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background: #ccc;
  position: relative;
}
.jp-card .jp-card-front .jp-card-shiny:before {
  content: ' ';
  display: block;
  width: 70%;
  height: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d9d9d9;
  position: absolute;
  top: 20%;
}
.jp-card .jp-card-front .jp-card-logo {
  position: absolute;
  opacity: 0;
  right: 5%;
  top: 8%;
  transition: 0.4s;
}
.jp-card .jp-card-front .jp-card-lower {
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 30px;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-cvc {
  visibility: hidden;
  float: right;
  position: relative;
  bottom: 5px;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-number {
  font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
  font-size: 24px;
  clear: both;
  margin-bottom: 30px;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
  font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
  letter-spacing: 0;
  position: relative;
  float: right;
  width: 25%;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after {
  font-family: Helvetica Neue;
  font-weight: 700;
  font-size: 7px;
  white-space: pre;
  display: block;
  opacity: 0.5;
  position: absolute;
  content: attr(data-after);
  text-align: right;
  right: 100%;
  margin-right: 5px;
  margin-top: 2px;
  bottom: 0;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before {
  font-family: Helvetica Neue;
  font-weight: 700;
  white-space: pre;
  display: block;
  opacity: 0.5;
  content: attr(data-before);
  margin-bottom: 2px;
  font-size: 7px;
  text-transform: uppercase;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-name {
  text-transform: uppercase;
  font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
  font-size: 20px;
  max-height: 45px;
  position: absolute;
  bottom: 0;
  width: 190px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jp-card > * {
  box-sizing: border-box;
  font-family: inherit;
}
.jp-card > *:after {
  box-sizing: border-box;
  font-family: inherit;
}
.jp-card > *:before {
  box-sizing: border-box;
  font-family: inherit;
}
.jp-card .jp-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.4s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  background: #ddd;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.jp-card .jp-card-back:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.jp-card .jp-card-back:after {
  content: ' ';
  display: block;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff);
  width: 80%;
  height: 16%;
  position: absolute;
  top: 40%;
  left: 2%;
}
.jp-card .jp-card-back .jp-card-display {
  color: #fff;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.4s linear;
}
.jp-card .jp-card-back .jp-card-display.jp-card-focused {
  opacity: 1;
  font-weight: 500;
}
.jp-card .jp-card-back .jp-card-cvc {
  font-family: Bitstream Vera Sans Mono, Consolas, Courier, monospace;
  font-size: 15px;
  position: absolute;
  top: 40%;
  left: 85%;
  transition-delay: 0.6s;
}
.jp-card .jp-card-back .jp-card-shiny {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background: #ccc;
  position: relative;
  position: absolute;
  top: 66%;
  left: 2%;
}
.jp-card .jp-card-back .jp-card-shiny:before {
  content: ' ';
  display: block;
  width: 70%;
  height: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d9d9d9;
  position: absolute;
  top: 20%;
}
.jp-card .jp-card-back .jp-card-shiny:after {
  content: 'This card has been issued by Jesse Pollak and is licensed for anyone to use anywhere for free.\AIt comes with no warranty.\A   For support issues, please visit: github.com/jessepollak/card.';
  position: absolute;
  left: 120%;
  top: 5%;
  color: #fff;
  font-size: 7px;
  width: 230px;
  opacity: 0.5;
}
.jp-card .jp-card-back .jp-card-bar {
  background-color: #444;
  background-image: linear-gradient(#444, #333);
  width: 100%;
  height: 20%;
  position: absolute;
  top: 10%;
}
.jp-card-logo.jp-card-maestro {
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 15px;
  z-index: 1;
}
.jp-card-logo.jp-card-maestro:after {
  content: ' ';
  display: block;
  width: 36px;
  top: 0;
  position: absolute;
  height: 36px;
  border-radius: 18px;
  right: 0;
  background: #c00;
  z-index: -2;
}
.jp-card-logo.jp-card-maestro:before {
  content: ' ';
  display: block;
  width: 36px;
  top: 0;
  position: absolute;
  height: 36px;
  border-radius: 18px;
  left: 0;
  background: #0064cb;
  z-index: -1;
}
.jp-card-logo.jp-card-mastercard {
  font-weight: 700;
  text-align: center;
  line-height: 36px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 9px;
  z-index: 1;
}
.jp-card-logo.jp-card-mastercard:after {
  content: ' ';
  display: block;
  width: 36px;
  top: 0;
  position: absolute;
  height: 36px;
  border-radius: 18px;
  right: 0;
  background: #ffab00;
  z-index: -2;
}
.jp-card-logo.jp-card-mastercard:before {
  content: ' ';
  display: block;
  width: 36px;
  top: 0;
  position: absolute;
  height: 36px;
  border-radius: 18px;
  left: 0;
  background: red;
  z-index: -1;
}
.jp-card-logo.jp-card-dankort {
  width: 60px;
  height: 36px;
  padding: 3px;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: #fff;
}
.jp-card-logo.jp-card-dankort .dk {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.jp-card-logo.jp-card-dankort .dk:before {
  background-color: #ed1c24;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
}
.jp-card-logo.jp-card-dankort .dk:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -7.7px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 10px 0;
  border-color: transparent #ed1c24 transparent transparent;
  z-index: 1;
}
.jp-card-logo.jp-card-dankort .d {
  position: absolute;
  top: 50%;
  width: 50%;
  display: block;
  height: 15.4px;
  margin-top: -7.7px;
  background: #fff;
  left: 0;
  border-radius: 0 8px 10px 0;
}
.jp-card-logo.jp-card-dankort .d:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed1c24;
  border-radius: 2px 4px 6px 0;
  height: 5px;
  width: 7px;
  margin: -3px 0 0 -4px;
}
.jp-card-logo.jp-card-dankort .k {
  position: absolute;
  top: 50%;
  width: 50%;
  display: block;
  height: 15.4px;
  margin-top: -7.7px;
  background: #fff;
  right: 0;
}
.jp-card-logo.jp-card-dankort .k:after {
  content: '';
  position: absolute;
  right: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  margin-right: -1px;
  bottom: 0;
  border-width: 0 5px 8px 0;
  border-color: transparent transparent #ed1c24;
}
.jp-card-logo.jp-card-dankort .k:before {
  content: '';
  position: absolute;
  right: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  margin-right: -1px;
  top: 0;
  border-width: 8px 5px 0 0;
  border-color: #ed1c24 transparent transparent;
}
.jp-card-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  width: 350px;
  max-width: 100%;
  height: 200px;
  margin: auto;
  z-index: 1;
  position: relative;
}
.jp-card.jp-card-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.jp-card.jp-card-identified {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.jp-card.jp-card-identified .jp-card-back {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}
.jp-card.jp-card-identified .jp-card-back:before {
  transition: all 0.4s ease;
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  opacity: 1;
}
.jp-card.jp-card-identified .jp-card-back .jp-card-logo {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}
.jp-card.jp-card-identified .jp-card-front {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}
.jp-card.jp-card-identified .jp-card-front:before {
  transition: all 0.4s ease;
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
  opacity: 1;
}
.jp-card.jp-card-identified .jp-card-front .jp-card-logo {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}
.jp-card.jp-card-identified.no-radial-gradient .jp-card-back:before {
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}
.jp-card.jp-card-identified.no-radial-gradient .jp-card-front:before {
  background-image: linear-gradient(-25deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
}
.cc__form-group___2Deir .cc__alert___hDhgM {
  padding: 6px 12px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 14.5px;
}
.cc__form-group___2Deir .cc__alert-danger___1WUJk {
  color: #dc2434;
  background-color: #f8d4d7;
  border-color: #f1a8ae;
}
.cc__form-group___2Deir .cc__alert-info___yhFLj {
  background-color: #f0f4f7;
  color: #3f5865;
}
.credit-card-form__has-success___3I0zn .credit-card-form__col-form-label___OZIiF {
  color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__custom-control___10g85 {
  color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__form-check-label___2bEL_ {
  color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__form-control-feedback___1yarP {
  color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__form-control-label___3G261 {
  color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__form-control___2zxui {
  border-color: #0cdc8f;
}
.credit-card-form__has-success___3I0zn .credit-card-form__input-group-addon___31_de {
  color: #0cdc8f;
  border-color: #0cdc8f;
  background-color: #b9fbe3;
}
.credit-card-form__has-success___3I0zn .credit-card-form__form-control-success___1Ilux {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%230CDC8F' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}
.container__container___1fvX0 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
  visibility: visible;
  max-width: 100%;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__col-form-label___OZIiF {
  color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__custom-control___10g85 {
  color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__form-check-label___2bEL_ {
  color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__form-control-feedback___1yarP {
  color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__form-control-label___3G261 {
  color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__form-control___2zxui {
  border-color: #f0ad4e;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__input-group-addon___31_de {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: #fff;
}
.credit-card-form__has-warning___1v8cA .credit-card-form__form-control-warning___2R-WO {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}
.credit-card-form__has-danger___2qapE .credit-card-form__col-form-label___OZIiF {
  color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__custom-control___10g85 {
  color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__form-check-label___2bEL_ {
  color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__form-control-feedback___1yarP {
  color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__form-control-label___3G261 {
  color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__form-control___2zxui {
  border-color: #dc2434;
}
.credit-card-form__has-danger___2qapE .credit-card-form__input-group-addon___31_de {
  color: #dc2434;
  border-color: #dc2434;
  background-color: #f8d4d7;
}
.credit-card-form__has-danger___2qapE .credit-card-form__form-control-danger___3G4cE {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23DC2434' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}
.payment__backdrop___3YE13 {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(33, 33, 33, 0.3);
  z-index: 9999;
  transition: opacity 0.5s ease;
}
.loading-spinner__spinner-inner___3bxWf .loading-spinner__text___2jbMe {
  -webkit-animation: e 2s;
  animation: e 2s;
}
.loading-spinner__spinner-inner___3bxWf > div {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  opacity: 0.9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: d 1s infinite ease-in-out both;
  animation: d 1s infinite ease-in-out both;
  background-color: #fff;
  margin-top: 0;
}
.loading-spinner__spinner-inner___3bxWf > div:first-child {
  margin-left: 0;
}
.loading-spinner__spinner-inner___3bxWf .loading-spinner__bounce1___211mK {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loading-spinner__spinner-inner___3bxWf .loading-spinner__bounce2___S6Y_a {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading-spinner__spinner___7t1Eb {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 72px;
  height: 72px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);
}
.loading-spinner__spinner___7t1Eb > div {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  opacity: 0.9;
  margin-top: 32px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: d 1s infinite ease-in-out both;
  animation: d 1s infinite ease-in-out both;
  background-color: #45bdd9;
}
.loading-spinner__spinner___7t1Eb > div:first-child {
  margin-left: 0;
}
.loading-spinner__spinner___7t1Eb .loading-spinner__bounce1___211mK {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.loading-spinner__spinner___7t1Eb .loading-spinner__bounce2___S6Y_a {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loading-spinner__spinner-container___27RgE {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: calc(14vh);
}
.cc__btn___16gQV {
  font-weight: 500 !important;
  text-transform: capitalize;
}
.cc__btn___16gQV:hover {
  cursor: pointer;
}
.cc__btn___16gQV:disabled {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.cc__btn___16gQV:disabled:focus {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.cc__btn___16gQV:disabled:hover {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.cc__custom-control-input___3wz-W {
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 1;
}
.cc__custom-control-input___3wz-W:checked.cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  color: #16accf;
  background-color: #fff;
}
.cc__custom-control-input___3wz-W:focus.cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  box-shadow: inset 0 0 0 1px rgba(78, 89, 93, 0.15);
}
.cc__custom-control-input___3wz-W:active.cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  color: #16accf;
  background-color: #fff;
}
.cc__custom-control-input___3wz-W:disabled.cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  cursor: not-allowed;
  background-color: #fff;
}
.cc__custom-control-input___3wz-W:disabled.cc__custom-control-input___3wz-W ~ .cc__custom-control-description___2W0MV {
  color: rgba(78, 89, 93, 0.3);
  cursor: not-allowed;
}
.cc__free-shipping___WuDQM {
  color: #e9ac4a;
  font-size: 13px;
  margin-top: 4px;
}
.cc__credit-card___23cnt .cc__credit-card-form___1tILw {
  display: none;
  margin-top: 15px;
  padding: 0 15px;
}
.cc__credit-card___23cnt.cc__active___3oRtv .cc__credit-card-form___1tILw {
  display: block;
}
.cc__shipping-fee___xDPmW {
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14.5px;
  margin-top: 2px;
}
.cc__custom-checkbox___1tLDV .cc__custom-control-indicator___1fCjJ {
  border-radius: 0;
}
.cc__custom-checkbox___1tLDV .cc__custom-control-input___3wz-W:checked.cc__custom-checkbox___1tLDV .cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2316ACCF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.cc__custom-checkbox___1tLDV .cc__custom-control-input___3wz-W:indeterminate.cc__custom-checkbox___1tLDV .cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%2316ACCF' d='M0 2h4'/%3E%3C/svg%3E");
}
.cc__custom-radio___22jyc .cc__custom-control-indicator___1fCjJ {
  border-radius: 50%;
}
.cc__custom-radio___22jyc .cc__custom-control-input___3wz-W:checked.cc__custom-radio___22jyc .cc__custom-control-input___3wz-W ~ .cc__custom-control-indicator___1fCjJ {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2316ACCF'/%3E%3C/svg%3E");
}
.cc__heading___3PENY {
  font-weight: 500;
}
.cod__custom-checkbox___1Vetx .cod__custom-control-indicator___2d8Dw {
  border-radius: 0;
}
.cod__custom-checkbox___1Vetx .cod__custom-control-input___33oKm:checked.cod__custom-checkbox___1Vetx .cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2316ACCF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.cod__custom-checkbox___1Vetx .cod__custom-control-input___33oKm:indeterminate.cod__custom-checkbox___1Vetx .cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%2316ACCF' d='M0 2h4'/%3E%3C/svg%3E");
}
.cod__custom-radio___1znaR .cod__custom-control-indicator___2d8Dw {
  border-radius: 50%;
}
.cod__custom-radio___1znaR .cod__custom-control-input___33oKm:checked.cod__custom-radio___1znaR .cod__custom-control-input___33oKm ~ .cod__custom-control-indicator___2d8Dw {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2316ACCF'/%3E%3C/svg%3E");
}
.cod__option___p-oIl.cod__active___2LTuD {
  box-shadow: inset 0 0 0 1px #16accf;
  background-color: #fafdfe;
  margin-left: -2px;
  width: calc(104%);
}
.payment__card___zPs9X.payment__active___1XCFJ {
  border-color: #16accf;
  background-color: #fafdfe;
}
.payment__card-block___3Uvg0 {
  padding: 15px;
}
.payment__card-title___eZOBM {
  font-weight: 700;
}
.payment__payment-options___ZrwiQ {
  margin: 0 -15px;
}
.order-summary__order-summary___2WFNx .order-summary__credit___244ai {
  margin-bottom: 10px;
}
.order-summary__order-summary___2WFNx .order-summary__shipping___14XDr {
  margin-bottom: 10px;
}
.order-summary__order-summary___2WFNx .order-summary__subtotal___1-kE1 {
  margin-bottom: 10px;
}
.order-summary__order-summary___2WFNx .order-summary__voucher___pk_z2 {
  margin-bottom: 10px;
}
.order-summary__order-summary___2WFNx .order-summary__gift-card___29txT {
  font-weight: 400;
}
.order-summary__order-summary___2WFNx .order-summary__gift-card___29txT a {
  color: rgba(78, 89, 93, 0.7);
  text-decoration: underline;
}
.order-summary__order-summary___2WFNx .order-summary__total___2aqMF {
  font-weight: 700;
  font-size: 16px;
}
.order-summary__col-6___351P1 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
  flex: 0 0 50%;
  max-width: 50%;
}
.order-summary__card___3zliB {
  border: 1px solid rgba(78, 89, 93, 0.15);
  border-radius: 0;
  margin-bottom: 15px;
}
.order-summary__card___3zliB.order-summary__active___2sqM7 {
  border-color: #16accf;
  background-color: #fafdfe;
}
.order-summary__card-block___1hCkc {
  padding: 15px;
}
.order-summary__card-title___2F2Ay {
  font-weight: 700;
}
.order-summary__card-title___2F2Ay .order-summary__actions___1GNOK {
  float: right;
}
.order-summary__card-title___2F2Ay .order-summary__actions___1GNOK a {
  font-weight: 400;
  font-size: 14.5px;
}
.an-address__card-title___1w0eI {
  font-weight: 700;
}
.an-address__card-title___1w0eI .an-address__actions___3lZYH {
  float: right;
}
.an-address__card-title___1w0eI .an-address__actions___3lZYH a {
  font-weight: 400;
  font-size: 14.5px;
}
.order-details__card-title___1HHwX {
  font-weight: 700;
}
.order-details__card-title___1HHwX .order-details__actions___3Vtxn {
  float: right;
}
.order-details__card-title___1HHwX .order-details__actions___3Vtxn a {
  font-weight: 400;
  font-size: 14.5px;
}
.order-details__product___3Ul2e:not(:last-child) {
  margin-bottom: 15px;
}
.order-details__product___3Ul2e .order-details__image___2nFML {
  float: left;
  width: 25%;
}
.order-details__product___3Ul2e .order-details__image___2nFML img {
  width: 100%;
}
.order-details__product___3Ul2e .order-details__info___3ESiE {
  float: left;
  margin-left: 15px;
  width: calc(60%);
}
.order-details__product___3Ul2e .order-details__info___3ESiE .order-details__label___1cj-a {
  font-size: 12px;
  color: #fb3c18;
  margin-bottom: 4px;
}
.order-details__product___3Ul2e .order-details__info___3ESiE .order-details__title___rODtC {
  font-weight: 500;
  line-height: 19px;
}
.order-details__card-block___3EZL6 {
  padding: 15px;
}
.order-details__card___x9UEx {
  border: 1px solid rgba(78, 89, 93, 0.15);
  border-radius: 0;
  margin-bottom: 15px;
}
.order-details__card___x9UEx.order-details__active___3q7Pu {
  border-color: #16accf;
  background-color: #fafdfe;
}
.an-address__dot-seperator___1_vim {
  color: rgba(78, 89, 93, 0.7);
  padding-left: 4px;
  padding-right: 4px;
}
.address__card___2il6c {
  border: 1px solid rgba(78, 89, 93, 0.15);
  border-radius: 0;
  margin-bottom: 15px;
}
.address__card___2il6c.address__active___1Dx-n {
  border-color: #16accf;
  background-color: #fafdfe;
}
.address__card-block___gCJQ8 {
  padding: 15px;
}
.an-address__address___yB6sO .an-address__actions___3lZYH {
  font-size: 14.5px;
}
@media (max-width: 767px) {
  .checkout__checkout-container___3rjtq {
    font-size: 1rem;
    padding-top: 16px;
  }
  .order-details__product___3Ul2e .order-details__info___3ESiE .order-details__desc___3xcNy {
    font-size: 14.5px;
  }
  .cod__custom-control-indicator___2d8Dw {
    top: 0.28rem !important;
  }
  .cc__custom-control-indicator___1fCjJ {
    top: 0.28rem !important;
  }
  .credit-card-form__cc-form-container___3IwSf {
    display: block !important;
  }
  .credit-card-form__cc-form-wrap___2lS5X {
    padding-right: 0;
  }
  .checkout-btn__checkout___2DoYD .checkout-btn__actions___3qxu8 .checkout-btn__btn-primary___1RlmT {
    width: 100%;
  }
}
fieldset[disabled] a.subscription-form__btn___2kh7f {
  pointer-events: none;
}
fieldset[disabled] a.color-variations__btn___2nwHA {
  pointer-events: none;
}
fieldset[disabled] a.size-variations__btn___2VUX6 {
  pointer-events: none;
}
fieldset[disabled] a.add-to-bag__btn___2i-kl {
  pointer-events: none;
}
fieldset[disabled] a.potd-new__btn___2dCR3 {
  pointer-events: none;
}
fieldset[disabled] a.not-found__btn___2OaB6 {
  pointer-events: none;
}
fieldset[disabled] a.sort__btn___1Cu7A {
  pointer-events: none;
}
fieldset[disabled] a.filter-option__btn___2u45i {
  pointer-events: none;
}
fieldset[disabled] a.filter__btn___3SgaO {
  pointer-events: none;
}
fieldset[disabled] a.sale__btn___3OqFl {
  pointer-events: none;
}
fieldset[disabled] a.address-card__btn___1pg9E {
  pointer-events: none;
}
fieldset[disabled] a.address-form__btn___1dPd- {
  pointer-events: none;
}
fieldset[disabled] a.card__btn___3bFeQ {
  pointer-events: none;
}
fieldset[disabled] a.filter-dropdown__btn___dUXAc {
  pointer-events: none;
}
fieldset[disabled] a.order__btn___2dgNF {
  pointer-events: none;
}
fieldset[disabled] a.personal-info-form__btn___1nmO2 {
  pointer-events: none;
}
fieldset[disabled] a.password-form__btn___tHTrv {
  pointer-events: none;
}
fieldset[disabled] a.signin__btn___1aGiN {
  pointer-events: none;
}
fieldset[disabled] a.forgot-password-form__btn___2d-0L {
  pointer-events: none;
}
fieldset[disabled] a.register-form__btn___2t6Pv {
  pointer-events: none;
}
fieldset[disabled] a.reset-password-form__btn___2aOGG {
  pointer-events: none;
}
fieldset[disabled] a.facebook-sign-in-button__btn___8j_B7 {
  pointer-events: none;
}
fieldset[disabled] a.sign-in-form__btn___3I2Fz {
  pointer-events: none;
}
fieldset[disabled] a.shipping-address__btn___23gq5 {
  pointer-events: none;
}
fieldset[disabled] a.add-password-form__btn___LErnE {
  pointer-events: none;
}
fieldset[disabled] a.discount-form__btn___3Vods {
  pointer-events: none;
}
fieldset[disabled] a.credit-card-form__btn___AaiiU {
  pointer-events: none;
}
fieldset[disabled] a.international-note__btn___nQLzo {
  pointer-events: none;
}
fieldset[disabled] a.checkout-btn__btn___1DYTV {
  pointer-events: none;
}
fieldset[disabled] a.checkout__btn___21jQJ {
  pointer-events: none;
}
fieldset[disabled] a.continue__btn___1ZlRu {
  pointer-events: none;
}
fieldset[disabled] a.international__btn___SSinB {
  pointer-events: none;
}
fieldset[disabled] a.default__btn___1k_L2 {
  pointer-events: none;
}
fieldset[disabled] a.first-sale-tile__btn___2kqdj {
  pointer-events: none;
}
fieldset[disabled] a.secret-sales-page__btn___CkVcL {
  pointer-events: none;
}
fieldset[disabled] a.cart__btn___1bOR1 {
  pointer-events: none;
}
.checkout-btn__btn___1DYTV {
  font-weight: 500 !important;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1.313;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6875rem 2.5rem;
  font-size: 16px;
  border-radius: 0;
  transition: all 0.2s ease-in-out cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
}
.checkout-btn__btn___1DYTV:hover {
  cursor: pointer;
  text-decoration: none;
}
.checkout-btn__btn___1DYTV:disabled {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.checkout-btn__btn___1DYTV:disabled:focus {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV:disabled:hover {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.checkout-btn__btn___1DYTV:active {
  background-image: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:focus {
  background-color: #16accf;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:disabled {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:disabled:hover {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:hover {
  background-color: #0ec0e8;
  border-color: #0ec0e8;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-secondary___1Ft49:focus {
  box-shadow: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__disabled___2QL3R {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
}
.checkout-btn__btn___1DYTV.checkout-btn__disabled___2QL3R:focus {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__disabled___2QL3R:hover {
  background-color: #b2e3ef;
  border-color: #b2e3ef;
  box-shadow: none;
}
.checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H:hover {
  background-color: #0ec0e8;
  border-color: #0ec0e8;
}
.checkout-btn__dropdown-menu___2n-Ym {
  border: none !important;
  box-shadow: 0 8px 11px 0 rgba(33, 33, 33, 0.17);
  z-index: 99 !important;
}
.checkout-btn__dropdown-menu___2n-Ym .checkout-btn__dropdown-divider___1S5Z1 {
  background-color: rgba(78, 89, 93, 0.06);
}
.checkout-btn__btn___1DYTV.checkout-btn__focus___2ALVZ {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.checkout-btn__btn___1DYTV.checkout-btn__active___3uc5H {
  background-image: none;
}
a.checkout-btn__btn___1DYTV.checkout-btn__disabled___2QL3R {
  pointer-events: none;
}
.checkout-btn__btn-float-checkout___1K6H3.checkout-btn__hide___20YA0 {
  display: none;
  opacity: 0;
}
.payment__secured-label___1cNZZ {
  background-image: url(/images/veryfied-secure@2x.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  width: 167px;
  height: 46px;
  margin: 8px 0 24px auto;
  display: block;
}
.checkout-btn__btn-float-checkout___1K6H3 {
  display: none;
  opacity: 0;
  background-color: #fff;
  z-index: 3;
  transition: all 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 {
  margin-bottom: 0;
  margin-top: 0;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT {
  width: 100%;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:hover {
  background-color: #16accf;
  border-color: #16accf;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT .checkout-btn__icon___3Vplk {
  margin-right: 8px;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 .checkout-btn__text-danger___1F-k7 {
  height: 44px;
  padding-top: 8px;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__btn-float-checkout___1K6H3 {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__actions___3qxu8 .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT {
  height: 53px;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__btn___1DYTV {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.checkout-btn__btn-float-checkout___1K6H3 .checkout-btn__btn-checkout___2E7IJ {
  height: 53px;
}
.checkout-btn__btn-float-checkout___1K6H3 .payment__secured-label___1cNZZ {
  margin: 8px auto;
}
@media (max-width: 991px) {
  .credit-card-form__real-card-wrap___2oQR6 {
    margin-top: 10px;
    padding-right: 0;
  }
  .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT.checkout-btn__active___3uc5H:hover {
    background-color: #16accf;
    border-color: #16accf;
  }
  .checkout-btn__btn___1DYTV.checkout-btn__btn-primary___1RlmT:hover {
    background-color: #16accf;
    border-color: #16accf;
  }
  .checkout-btn__btn___1DYTV.checkout-btn__btn-secondary___1Ft49.checkout-btn__active___3uc5H:hover {
    border-color: rgba(78, 89, 93, 0.3);
  }
  .checkout-btn__btn___1DYTV.checkout-btn__btn-secondary___1Ft49:hover {
    border-color: rgba(78, 89, 93, 0.3);
  }
}
@media (min-width: 576px) {
  .process-indicator__indicator-section___Z-6r8 {
    width: 400px;
    margin: auto;
    margin-top: 20px;
  }
  .row__row___2roCA {
    margin-right: -12px;
    margin-left: -12px;
  }
  .checkout__col-lg-4___2Mwer {
    padding-right: 12px;
    padding-left: 12px;
  }
  .order-summary__col-6___351P1 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .checkout__col-lg-8___QjgUh {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__col-lg-6___3YEEz {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__card-list___39avV {
    width: auto;
    height: 25px;
    display: inline-block;
    float: right;
    margin-right: 0;
    margin-top: -1px;
  }
  .credit-card-form__card-list___39avV img {
    width: auto;
    height: 100%;
  }
  .credit-card-form__form-inline___1Mgep label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-group___BZuCA {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-control___2zxui {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-control-static___1A7vU {
    display: inline-block;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__input-group___3jvIB {
    width: auto;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-control-label___3G261 {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-check___7ymV3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-check-label___2bEL_ {
    padding-left: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__form-check-input___1l3RX {
    position: relative;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__custom-control___10g85 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__custom-control-indicator___2k1tn {
    position: static;
    display: inline-block;
    margin-right: 0.25rem;
    vertical-align: text-bottom;
  }
  .credit-card-form__form-inline___1Mgep .credit-card-form__has-feedback___1XM9Q .credit-card-form__form-control-feedback___1yarP {
    top: 0;
  }
  .container__container___1fvX0 {
    padding-right: 12px;
    padding-left: 12px;
    width: 540px;
    max-width: 100%;
  }
  .credit-card-form__col-6___3m3FL {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (min-width: 768px) {
  .row__row___2roCA {
    margin-right: -12px;
    margin-left: -12px;
  }
  .checkout__col-lg-4___2Mwer {
    padding-right: 12px;
    padding-left: 12px;
  }
  .order-summary__col-6___351P1 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .checkout__col-lg-8___QjgUh {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__col-lg-6___3YEEz {
    padding-right: 12px;
    padding-left: 12px;
  }
  .container__container___1fvX0 {
    padding-right: 12px;
    padding-left: 12px;
    width: 720px;
    max-width: 100%;
  }
  .credit-card-form__col-6___3m3FL {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__real-card-wrap___2oQR6 {
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .row__row___2roCA {
    margin-right: -12px;
    margin-left: -12px;
  }
  .checkout__col-lg-4___2Mwer {
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .order-summary__col-6___351P1 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .checkout__col-lg-8___QjgUh {
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .credit-card-form__col-lg-6___3YEEz {
    padding-right: 12px;
    padding-left: 12px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .container__container___1fvX0 {
    padding-right: 12px;
    padding-left: 12px;
    width: 960px;
    max-width: 100%;
  }
  .credit-card-form__col-6___3m3FL {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__real-card-wrap___2oQR6 {
    padding-left: 24px;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .checkout__col-lg-4___2Mwer {
    padding-right: 12px;
    padding-left: 12px;
  }
  .row__row___2roCA {
    margin-right: -12px;
    margin-left: -12px;
  }
  .order-summary__col-6___351P1 {
    padding-right: 12px;
    padding-left: 12px;
  }
  .checkout__col-lg-8___QjgUh {
    padding-right: 12px;
    padding-left: 12px;
  }
  .credit-card-form__col-lg-6___3YEEz {
    padding-right: 12px;
    padding-left: 12px;
  }
  .container__container___1fvX0 {
    padding-right: 12px;
    padding-left: 12px;
    width: 1140px;
    max-width: 100%;
  }
  .credit-card-form__col-6___3m3FL {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .jp-card .jp-card-front .jp-card-lower {
    width: 90%;
    left: 5%;
  }
}
@media print {
  .visible-print-block {
    display: block !important;
  }
  .visible-print-inline {
    display: inline !important;
  }
  .visible-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none !important;
  }
}
.ic-ic-check-mark:before {
  content: '\E923';
}
.ic-ic-lock:before {
  content: '\E91D';
}
.background-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
}
