@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  *:before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  a[href^='#']:after {
    content: '';
  }
  a[href^='javascript:']:after {
    content: '';
  }
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret {
    border-top-color: #000 !important;
  }
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td {
    background-color: #fff !important;
  }
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th {
    border: 1px solid #ddd !important;
  }
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print {
    display: table-cell !important;
  }
  td.visible-print {
    display: table-cell !important;
  }
  .visible-print-block {
    display: block !important;
  }
  .visible-print-inline {
    display: inline !important;
  }
  .visible-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none !important;
  }
}
.main-tabs {
  margin: 15px 0;
}
.main-tabs ul {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
}
.main-tabs ul li {
  position: relative;
}
.main-tabs ul li a {
  color: #313131;
}
.main-tabs ul li:hover:after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #000;
  position: absolute;
  bottom: -11px;
  left: 0;
}
.main-tabs ul li.active a {
  font-weight: 700;
}
.main-tabs ul li.active:after {
  content: '';
  width: 100%;
  border-bottom: 2px solid #000;
  position: absolute;
  bottom: -11px;
  left: 0;
}
.text-right {
  text-align: right;
}
.boxbenefit {
  position: relative;
}
.boxbenefit:after {
  content: '';
  background: url(/images/landing/landing-new/maps.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 771px;
  height: 771px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  top: -190px;
  opacity: 0.1;
}
.boxbenefit .info-boxbenefit .list-benefit .sm-mb-30 .box-container .icon-box-text .text-right span.see-more {
  display: inherit;
  font-size: 13px;
  cursor: pointer;
  color: #e67425;
  margin-top: 0;
}
.boxbenefit .info-boxbenefit .list-benefit .sm-mb-30 .box-container .icon-box-text.open .text-right span.see-more {
  display: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
.container .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.container:before {
  display: table;
  content: ' ';
}
.container:after {
  display: table;
  content: ' ';
  clear: both;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.lmkt-list-prod {
  display: inline-block;
  width: 100%;
}
.lmkt-list-tab {
  display: inline-block;
  width: 100%;
}
.lmkt-list-tab .lmkt-title ul {
  border: 0;
}
.lmkt-list-tab .lmkt-title ul li {
  display: inline-block;
  float: none;
}
.lmkt-list-tab .lmkt-title ul li:last-child {
  border: 0;
}
.lmkt-list-tab .lmkt-title ul li a {
  background: 0 0;
  border: 0;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  color: #333;
}
.lmkt-list-tab .lmkt-title ul li a i {
  margin-left: 15px;
}
.lmkt-list-tab .lmkt-title ul li a:hover {
  background: 0 0;
  color: #e67425;
}
.lmkt-list-tab .lmkt-title ul li a.active {
  background: 0 0;
  color: #e67425;
}
.lmkt-list-tab .lmkt-title ul li.active a {
  background: 0 0;
  color: #e67425;
  border: 0;
}
.lmkt-title {
  margin-top: 100px;
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: center;
}
.lmkt-title:before {
  content: '';
  position: absolute;
  height: 80px;
  width: 1px;
  background: #000;
  top: -90px;
  left: 50.5%;
}
.lmkt-title h1 {
  font-size: 20px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.lmkt-title h1 a {
  font-size: 13px;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  right: 0;
  bottom: 15px;
}
.lmkt-title h1 a:hover {
  color: #e67425;
}
.lmkt-prod-top ul {
  padding: 0;
  margin: 0;
}
.lmkt-prod-top ul li {
  list-style: none;
  float: left;
}
.lmkt-prod-top ul li .lmkt-prod-banner {
  width: 450px;
  margin-right: 10px;
}
.lmkt-prod-top ul li .lmkt-prod-banner img {
  width: 100%;
  height: 635px;
}
.lmkt-prod-top ul li .lmkt-prod-banner1 {
  margin: 0 10px 10px;
}
.lmkt-prod-top ul li .lmkt-prod-banner1 img {
  width: 680px;
  height: 629px;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other > li {
  list-style: none;
  float: left;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other > li:nth-last-child(1) {
  margin-right: 0;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other > li:last-child {
  margin-right: 0;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail1 {
  width: 220px;
  border: 1px solid #ededed;
  margin-bottom: 10px;
}
.lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail {
  width: 220px;
  border: 1px solid #ededed;
  margin-bottom: 10px;
  min-height: 338px;
}
@media (min-width: 768px) {
  .login-form .content .forgot .text-right {
    text-align: left;
  }
  .container {
    width: 750px;
  }
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  div.text-right.ck-order-total {
    font-size: 18px;
  }
  .lmkt-prod-top ul li {
    float: none;
    margin: 0;
  }
  .lmkt-prod-top ul li .lmkt-prod-banner1 {
    display: none;
  }
  .lmkt-prod-top ul li .lmkt-prod-banner {
    display: none;
  }
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail1 {
    width: 220px;
    margin-left: 25px;
  }
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail {
    width: 220px;
    margin-left: 15px;
  }
}
@media (max-width: 1199px) {
  .lmkt-prod-top ul li .lmkt-prod-banner {
    width: 377px;
    height: auto;
  }
  .lmkt-prod-top ul li .lmkt-prod-banner1 img {
    width: 577px;
    height: auto;
  }
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail {
    width: 185px;
  }
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail1 {
    width: 185px;
  }
  .lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul {
    margin: 80px 0 0 25px;
  }
  .lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul li .lmkt-prod-detail {
    width: 220px;
    margin-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.lmkt-prod-new ul {
  margin-right: -15px;
}
.lmkt-prod-new ul li {
  width: 20%;
  float: left;
  padding-right: 15px;
  margin-bottom: 15px;
}
.lmkt-prod-new .lmkt-prod-detail {
  border: 1px solid #ddd;
}
.lmkt-tab-all .lmkt-tab-detail {
  height: 454px;
  border: 1px solid #ededed;
  margin-top: 30px;
  position: relative;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul {
  padding: 0;
  display: inline-block;
  margin: 80px 0 0 208px;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul li {
  list-style: none;
  float: left;
  margin-right: 20px;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul li .lmkt-prod-detail {
  width: 220px;
  border: 1px solid #ededed;
  background: #fff;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul li .lmkt-prod-detail .lmkt-prod-img {
  position: relative;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab .lmkt-tab-btn {
  position: absolute;
  left: 55px;
}
.lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab .lmkt-tab-btn a {
  display: inline-block;
  border-radius: 3px;
  color: #004e82;
  border: 1px solid #004e82;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 15px;
}
@media (max-width: 676px) {
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail {
    margin-left: 2px;
  }
  .lmkt-prod-top > ul > li > ul.lmkt-prod-other > li .lmkt-prod-detail1 {
    margin-left: 2px;
  }
  .lmkt-tab-all .lmkt-tab-detail .lmkt-other-tab ul li .lmkt-prod-detail {
    margin-left: 2px;
  }
}
.boxSearch {
  height: 630px;
  background-color: #f5f7f9;
  position: relative;
  overflow: hidden;
}
.boxSearch .before {
  position: absolute;
  bottom: -110px;
  transform: rotate(4.7deg);
  -ms-transform: rotate(4.7deg);
  -webkit-transform: rotate(4.7deg);
  -o-transform: rotate(4.7deg);
  -moz-transform: rotate(4.7deg);
  background-color: #fff;
  content: '';
  z-index: 2;
  display: inline-block;
  height: 220px;
  width: 104%;
  left: -2.8%;
}
.boxSearch .before:before {
  content: '';
  display: block;
  width: 15px;
  height: 70px;
  position: absolute;
  left: calc(42.5%);
  top: -70px;
  background: url(/images/common/orange-line.png) no-repeat;
  background-position: center top;
  transform: rotate(-4.7deg);
  -ms-transform: rotate(-4.7deg);
  -webkit-transform: rotate(-4.7deg);
  -o-transform: rotate(-4.7deg);
  -moz-transform: rotate(-4.7deg);
  transform-origin: bottom center;
}
.boxSearch .before:after {
  content: '';
  display: block;
  width: 15px;
  height: 70px;
  position: absolute;
  left: calc(42.5%);
  top: 0;
  background: url(/images/common/blue-line.png) no-repeat;
  background-position: center bottom;
  transform: rotate(-4.7deg);
  -ms-transform: rotate(-4.7deg);
  -webkit-transform: rotate(-4.7deg);
  -o-transform: rotate(-4.7deg);
  -moz-transform: rotate(-4.7deg);
  transform-origin: top center;
}
.boxSearch .after {
  position: absolute;
  top: 0;
  margin-top: -85px;
  transform: rotate(-4.7deg);
  -ms-transform: rotate(-4.7deg);
  -webkit-transform: rotate(-4.7deg);
  -o-transform: rotate(-4.7deg);
  -moz-transform: rotate(-4.7deg);
  background-color: #fff;
  content: '';
  z-index: 2;
  display: inline-block;
  height: 220px;
  width: 104%;
  left: -2.8%;
}
.boxSearch .after:before {
  content: '';
  display: block;
  width: 15px;
  height: 70px;
  position: absolute;
  left: calc(42.5%);
  bottom: 0;
  background: url(/images/common/orange-line.png) no-repeat;
  background-position: center top;
  transform: rotate(4.7deg);
  -ms-transform: rotate(4.7deg);
  -webkit-transform: rotate(4.7deg);
  -o-transform: rotate(4.7deg);
  -moz-transform: rotate(4.7deg);
  transform-origin: bottom center;
}
.boxSearch .after:after {
  content: '';
  display: block;
  width: 15px;
  height: 70px;
  position: absolute;
  left: calc(42.5%);
  bottom: -70px;
  background: url(/images/common/blue-line.png) no-repeat;
  background-position: center bottom;
  transform: rotate(4.7deg);
  -ms-transform: rotate(4.7deg);
  -webkit-transform: rotate(4.7deg);
  -o-transform: rotate(4.7deg);
  -moz-transform: rotate(4.7deg);
  transform-origin: top center;
}
.boxSearch .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
.boxSearch .container:before {
  content: '';
  display: table;
}
.boxSearch .container:after {
  content: '';
  display: table;
}
.boxSearch .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.boxSearch .box-search-sale .input-group {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.boxSearch .box-search-sale .input-group input {
  border: 3px solid #2796b6;
  height: 45px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
  position: relative;
  background: 0 0;
  padding-left: 20px;
  padding-right: 80px;
  font-size: 12px;
}
.boxSearch .box-search-sale .input-group .input-group-addon {
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 3px solid #2796b6;
  background: #2796b6;
  color: #fff;
  font-size: 20px;
  padding: 9px 11px;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  z-index: 99;
}
.boxSearch .box-search-sale .input-group .search-placeholder {
  position: absolute;
  top: 11px;
  left: 25px;
  font-size: 12px;
  border: none;
  line-height: 1;
  text-align: left;
}
.boxSearch .box-search-sale .input-group .search-placeholder strong {
  color: #2796b6;
}
.boxSearch .box-search-sale .input-group .search-placeholder span {
  color: #999;
}
.lmkt-prod-detail1 .lmkt-prod-img {
  position: relative;
}
.lmkt-prod-detail1 .lmkt-prod-img .lmkt-cart {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.lmkt-prod-detail1 .lmkt-prod-img .lmkt-cart a {
  color: #fff;
  background: #2796b6;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  display: inherit;
  top: 95px;
  left: 50px;
}
.lmkt-prod-detail1 .lmkt-prod-img span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e67425;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  padding: 0 10px;
  z-index: 9;
}
.lmkt-prod-detail1 .lmkt-prod-img img {
  width: 100%;
}
.lmkt-prod-detail1:hover .lmkt-prod-img .lmkt-cart {
  opacity: 1;
}
.lmkt-prod-detail1 .lmkt-prod-tit {
  padding: 10px;
  height: 51px;
  overflow: hidden;
}
.lmkt-prod-detail1 .lmkt-prod-tit a {
  margin: 0;
  line-height: 17px;
  font-size: 13px;
  color: #333;
}
.lmkt-prod-detail1 .lmkt-prod-pri {
  padding: 0 10px;
}
.lmkt-prod-detail1 .lmkt-prod-pri p {
  font-size: 15px;
  color: #d90b0b;
  font-weight: 700;
  margin: 5px 0 7px;
}
.lmkt-prod-detail1 .lmkt-prod-pri p span {
  font-size: 12px;
  color: #999;
  margin-left: 20px;
  text-decoration: line-through;
  font-weight: 400;
}
.lmkt-prod-detail .lmkt-prod-img {
  position: relative;
  height: 220px;
  margin: 0 auto;
}
.lmkt-prod-detail .lmkt-prod-img .lmkt-cart {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lmkt-prod-detail .lmkt-prod-img .lmkt-cart a {
  color: #fff;
  background: #2796b6;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  display: inherit;
  top: 95px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 55%;
}
.lmkt-prod-detail .lmkt-prod-img > .lmkt-link-img {
  width: 213px;
  height: 220px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.lmkt-prod-detail .lmkt-prod-img > .lmkt-link-img > img {
  max-width: 100%;
  max-height: 100%;
}
.lmkt-prod-detail .lmkt-prod-img span {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e67425;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 10px;
  z-index: 9;
}
.lmkt-prod-detail:hover .lmkt-prod-img .lmkt-cart {
  opacity: 1;
}
.lmkt-prod-detail .owl-carousel .owl-item img {
  display: inline !important;
  width: auto !important;
}
.lmkt-prod-detail .lmkt-prod-tit {
  padding: 10px;
  height: 51px;
  overflow: hidden;
}
.lmkt-prod-detail .lmkt-prod-tit a {
  margin: 0;
  line-height: 17px;
  font-size: 13px;
  color: #333;
}
.lmkt-prod-detail .lmkt-prod-pri {
  padding: 4px 10px;
  height: 81px;
}
.lmkt-prod-detail .lmkt-prod-pri p {
  font-size: 15px;
  color: #d90b0b;
  font-weight: 700;
  margin: 0 0 7px;
}
.lmkt-prod-detail .lmkt-prod-pri p span {
  font-size: 12px;
  color: #999;
  margin-left: 20px;
  text-decoration: line-through;
  font-weight: 400;
}
.lmkt-prod-detail .lts-banner-detail:nth-child(1) {
  margin-bottom: 30px;
}
.lmkt-prod-detail .banner-ld:nth-child(1) {
  margin-bottom: 40px;
}
.lmkt-prod-all {
  position: relative;
}
.lmkt-prod-all ul {
  padding: 0;
  margin: 0;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-prev {
  opacity: 0.3;
  font-size: 30px;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-prev:hover {
  opacity: 1;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-prev:before {
  position: absolute;
  font-family: ionicons;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: #000;
  top: 50%;
  z-index: 10;
  font-size: 40px;
  opacity: 0.6;
  margin-top: -35px;
  content: '\f3d2';
  left: -30px;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-next {
  opacity: 0.3;
  font-size: 30px;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-next:hover {
  opacity: 1;
}
.lmkt-prod-all ul .owl-controls .owl-nav .owl-next:before {
  position: absolute;
  font-family: ionicons;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  color: #000;
  top: 50%;
  z-index: 10;
  font-size: 40px;
  opacity: 0.6;
  margin-top: -35px;
  content: '\f3d3';
  right: -30px;
}
.lmkt-prod-all ul li {
  list-style: none;
  float: left;
}
.lmkt-prod-all ul li .lmkt-prod-detail {
  border: 1px solid #ededed;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-img {
  width: 220px;
  height: 220px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-img img {
  display: inline !important;
  width: auto !important;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-tit {
  height: 37px;
  overflow: hidden;
  padding: 0 10px;
  margin: 20px 0 10px;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-tit a {
  font-size: 13px;
  color: #333;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-pri {
  padding: 0 10px;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-pri p {
  font-size: 15px;
  color: #d90b0b;
  font-weight: 400;
}
.lmkt-prod-all ul li .lmkt-prod-detail .lmkt-prod-pri p span {
  font-size: 12px;
  color: #999;
  margin-left: 20px;
  text-decoration: line-through;
  font-weight: 400;
}
.lazy {
  max-width: 100%;
  max-height: 100%;
}
.lmkt-link-img {
  width: 213px;
  height: 220px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
