@import '~@/utils/utils.less';

.position {
  position: relative;
}
.home__defaultLayout___Q6Udu {
  padding-top: 53px;
}
.default-layout__container___13v1V {
  height: 100%;
  padding-top: 52px;
  padding-bottom: 600px;
  overflow: hidden;
}
